@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 100%;
}

.App {
  position: relative;
}

.child {
  width: 80%;
  margin: auto;
}

.main {
  width: 100%;
}

.primary-btn {
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: 600;
  background: white;
  padding: 1rem 3rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.main_background {
  background-color: #ff7d7d;
  position: fixed;
  inset: 0;
  z-index: -1;
}

@media (max-width: 1890px) {
  html {
    font-size: 96.666666%;
  }
}
@media (max-width: 1790px) {
  html {
    font-size: 93.33333%;
  }
}
@media (max-width: 1690px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 1590px) {
  html {
    font-size: 83.34%;
  }
}
@media (max-width: 1490px) {
  html {
    font-size: 80.01%;
  }
}
@media (max-width: 1390px) {
  html {
    font-size: 76.68%;
  }
}
@media (max-width: 1290px) {
  html {
    font-size: 73.35%;
  }
}
@media (max-width: 1190px) {
  html {
    font-size: 70.02%;
  }
}
@media (max-width: 1090px) {
  html {
    font-size: 66.69%;
  }
}
@media (max-width: 990px) {
  html {
    font-size: 63.36%;
  }
}
@media (max-width: 890px) {
  html {
    font-size: 60%;
  }
}